
body {
  /* margin: 0; */
  background: #001229;
  font-family: Arial, Tahoma, Verdana, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}